html{
  background-color:  #064b59;
}
.container-fluid{
  background-color: #064b59 ;
}
input[type="text"]{
   background: transparent;
   color: white;
}
input[type="text"]:focus{
  background: transparent;
  color: white;
}
